{
    "extends": "eslint-config-airbnb",
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true
        }
    },
    "plugins": [
        "prefer-object-spread"
    ],
    "rules": {
        "indent": [
            1,
            2,
            {
                "SwitchCase": 1
            }
        ],
        "keyword-spacing": [1],
        "linebreak-style": [
            2,
            "unix"
        ],
        "new-cap": [1],
        "padded-blocks": [0],
        "space-before-blocks": [
            1,
            "always"
        ],
        "space-before-function-paren": [
            2,
            {
                "anonymous": "always",
                "named": "never"
            }
        ],
        "react/jsx-indent": [
            2,
            2
        ],
        "react/destructuring-assignment": [0],
        "max-len": [
            1,
            150
        ],
        // warns when trying to use Object.assign()
        "prefer-object-spread/prefer-object-spread": 2,
        // TODO: remove after refactor
        "import/no-cycle": [0],
        "react/forbid-prop-types": [0],
        "consistent-return": [0],
        "no-unused-expressions": [0],
        "import/no-extraneous-dependencies": [0],
        "object-curly-newline": [0]
    },
    "globals": {
        "__CLIENT__": true
    },
    "env": {
        "browser": true,
        "node": true,
        "jest": true
    }
}